.green-text {
  color: #1eea00 !important;
  font-size: 18px;
  font-weight: 600;
}

.btn-dark-green {
  background: #1eea00 !important;
  color: #004b40;
  font-size: 16px;
  text-align: center;
  font-weight: 600 !important;
}

.btn-ligth-green {
  background: #004b40 !important;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 600 !important;
}
