<ion-content [fullscreen]="true" id="main-ligth">
  <section class="h-100 w-100">
    <div
      class="h-75 w-100 d-inline-block border d-flex align-items-center justify-content-center"
    >
      <div class="p-2 m-2 rounded-2 w-100">
        <div class="d-flex flex-column">
          <div class="p-2">
            <section class="d-flex align-items-center justify-content-center">
              <picture>
                <img
                  width="100%"
                  src="/assets/icon/coink-icon.svg"
                  alt="coink icon small"
                  loading="lazy"
                />
              </picture>
            </section>
          </div>
          <div class="p-2 w-75" style="margin: auto;">
            <p class="text-center green-text">
              LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="h-25 w-100 d-inline-block border">
      <div class="row mt-5">
        <div class="col-sm-12 text-center mt-3">
          <div style="width: 80% !important; margin: auto !important;">
            <button
              (click)="next()"
              class="btn btn-lg btn-block rounded-pill w-100 btn-dark-green"
            >
              REGÍSTRATE
            </button>
          </div>
        </div>
        <div class="col-sm-12 text-center mt-3">
          <div style="width: 80% !important; margin: auto !important;">
            <button
              class="btn btn-lg btn-block rounded-pill w-100 btn-ligth-green"
            >
              INGRESA
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
