<ion-content [fullscreen]="true" style="--background: #efefefd6 !important;">
  <div id="container">
    <div class="card w-75 mx-auto">
      <div class="mt-5 mb-3 w-100">
        <picture>
          <img src="/assets/icon/marrano regalo.svg" alt="" />
        </picture>
      </div>
      <h1
        class="text-center mb-1"
        style="color: #004b40; font-size: 20px; font-weight: bold;"
      >
        ¡Bienvenido a Coink!
      </h1>
      <p
        class="text-center mx-4 mt-2"
        style="font-size: 16px; color: #212121; width: 79%; margin: auto;"
      >
        ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces
        a ahorrar!
      </p>
      <div class="mt-3 mb-3">
        <div class="col-sm-12 text-center mt-3">
          <div style="width: 80% !important; margin: auto !important;">
            <button
              class="btn btn-lg btn-block rounded-pill w-100 btn-dark-green"
            >
              CONTINUAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
