<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="width: 100%;">
        <h1 class="text-center">{{title}}</h1>
      </div>
      <div style="width: 100%;" style="display: flex;">
        <img style="margin: auto !important;" [src]="progress" alt="" />
      </div>
    </div>
  </div>
  <div>
    <div
      class="row"
      style="width: 100% !important; margin: auto; margin-top: 35px !important;"
    >
      <div class="col-3">
        <img [src]="coinkLogo" alt="" width="150px" />
      </div>
      <div class="col-9" style="margin-top: -15px !important;">
        <h3 style="color: #004b40; font-size: 16px; font-weight: bold;">
          {{subtitle}}
        </h3>
        <p style="color: #757575; font-size: 16px;">
          {{text}} <strong>{{subtext}}</strong>
        </p>
      </div>
    </div>
  </div>
  <div
    style="
      border-bottom: 1px #1eea00 solid;
      width: 100% !important;
      padding-bottom: 1rem !important;
    "
  ></div>
</div>
